{% extends "homebase.html" %}

{% block title %}Sıkça Sorulan Sorular{% endblock %}
{% block keywords %}{% endblock %}
{% block description %} {% endblock %}
{% block head %}

    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
    <script>
  $( function() {
    $( "#accordion" ).accordion();
  } );
  </script>

{% endblock %}


{% block content %}
    <div class="hero inner-page" style="background-image: url('../static/images/hero_1_a.jpg');">

        <div class="container">
            <div class="row align-items-end ">
                <div class="col-lg-5">

                    <div class="intro">
                        <h1><strong>Sıkça Sorulan Sorular</strong></h1>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="site-section">
        <div class="container">

            <div class="row">

                <div id="accordion">
                     {% for rs in faq %}
                    <h3><strong>{{ rs.question }}</strong></h3>
                    <div>
                        <p>
                            {{ rs.answer }}
                        </p>
                    </div>
                    {% endfor %}
                </div>


                <table cellpadding="3", width="1200">

                    <tr>
                        {% for rs in faq %}

                            <tr>

                                <td><h4><strong>{{ rs.question }}</strong></h4></td>

                            </tr>

                            <tr>

                                <td>{{ rs.answer }}</td>

                            </tr>
                        {% endfor %}
                    </tr>


                </table>
            </div>
        </div>
    </div>


{% endblock %}