      <header class="site-navbar site-navbar-target" role="banner">

        <div class="container">
          <div class="row align-items-center position-relative">

            <div class="col-3">
              <div class="site-logo">
                <a href=""><strong>CarRental</strong></a>
              </div>
            </div>

            <div class="col-9  text-right">

              <span class="d-inline-block d-lg-none"><a href="#" class=" site-menu-toggle js-menu-toggle py-5 "><span class="icon-menu h3 text-black"></span></a></span>

              <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto ">
                  <li><a href="/" class="nav-link">Ana Sayfa</a></li>
                  <li><a href="/araclar" class="nav-link">Araçlar</a></li>
                  <li><a href="/referanslar" class="nav-link">Referanslar</a></li>
                  <li><a href="/hakkimizda" class="nav-link">Hakkımızda</a></li>
                  <li><a href="/iletisim" class="nav-link">İletişim</a></li>
                  <li>
                      {% if user.id is not None  %}
                          <a href="/login" class="nav-link">{{ request.user }}</a>/<a href="/logout" class="nav-link">Logout</a>
                      {% else %}


                      <a href="/login" class="nav-link">Login</a>/<a href="/logout" class="nav-link">Logout</a>
                      {% endif %}
                        <a href="/signup" class="nav-link">Sıgn In</a>
                  </li>
                </ul>
              </nav>
            </div>


          </div>
        </div>

      </header>
