<!DOCTYPE html>
<html lang="en">
<head>

<title>{% block title %}Anasayfa{% endblock %}</title>
    <meta name="keywords" content="{% block keywords %}Anasayfa anahter kelimeler{% endblock %}">
    <meta name="description" content="{% block description %}Anasayfa kısa açıklama{% endblock %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'sliderengine/amazingslider-1.css' %}">

    <link rel="stylesheet" href="{%  static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{%  static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{%  static 'css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{%  static 'css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{%  static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{%  static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{%  static 'fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{%  static 'css/aos.css' %}">


    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{%  static 'css/style.css' %}">

    {% block head %} {% endblock %}
    


</head>
<body>
    {% include 'header.html' %}
    {% block sidebar %} {% endblock %}
    {% block slider %} {% endblock %}
    {% block content %} {% endblock %}
    {% block body %} {% endblock %}
    {% include 'footer.html' %}
    {% block footer %} {% endblock %}


</body>
</html>