{% load static %}
<div class="hero" style="background-image: url('../static/images/hero_1_a.jpg');">

    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-10">

                <form action="/search/" method="post">
                     {% csrf_token %}


                    <div class="form-group">

                        <div class="col-lg-5">
                            <input name="query" class="form-control" type="text" placeholder="Enter your keyword ">

                        </div>



                        <label class="col-lg-2">
                            <button type="submit" value="Search Now" class="btn btn-danger">Search</button>
                        </label>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>