{% load static %}
<section class="model-area section-gap" id="cars">
				<div class="container">

					<div class="row d-flex justify-content-center pb-40">
						<div class="col-md-8 pb-40 header-text">
							<h1 class="text-center pb-10">Choose your Desired Car Model</h1>
							<p class="text-center">
								Who are in extremely love with eco friendly system.
							</p>
						</div>
					</div>

					<div class="active-model-carusel owl-carousel owl-theme owl-loaded">
                        {% for rs in sliderdata %}
						<div class="owl-stage-outer">
							<div class="owl-controls">
								<div class="owl-nav">
									<h4 class="mt-20">{{ rs.title }} </h4>
									<h2>$149<span>/day</span></h2>
								</div>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								</p>
								<p>
									Capacity         : 04 Person <br>
									Doors            : 04 <br>
									Air Condition    : Dual Zone <br>
									Transmission     : Automatic
								</p>
								<a class="text-uppercase primary-btn" href="#">Book This Car Now</a>
							</div>

							<div class="col-lg-6 model-right">
								<img class="img-fluid" src="{{ rs.image.url }}" alt="">
							</div>
						</div>
                        {% endfor %}


					</div>
				</div>
</section>
<!-- Insert to your webpage where you want to display the slider -->
    <div class="amazingslider-wrapper" id="amazingslider-wrapper-1" style="display:block;position:relative;max-width:900px;margin:0px auto 56px;">
        <div class="amazingslider" id="amazingslider-1" style="display:block;position:relative;margin:0 auto;">
            <ul class="amazingslider-slides" style="display:none;">
                <li><img src="images/header-bg.jpg" alt="header-bg"  title="header-bg" />
                </li>
                <li><img src="images/about-img.jpg" alt="about-img"  title="about-img" />
                </li>
                <li><img src="images/b1.jpg" alt="b1"  title="b1" />
                </li>
                <li><img src="images/car.jpg" alt="car"  title="car" />
                </li>
            </ul>
            <ul class="amazingslider-thumbnails" style="display:none;">
                <li><img src="images/header-bg-tn.jpg" alt="header-bg" title="header-bg" /></li>
                <li><img src="images/about-img-tn.jpg" alt="about-img" title="about-img" /></li>
                <li><img src="images/b1-tn.jpg" alt="b1" title="b1" /></li>
                <li><img src="images/car-tn.jpg" alt="car" title="car" /></li>
            </ul>
        <div class="amazingslider-engine"><a href="http://amazingslider.com" title="JavaScript Slider">JavaScript Slider</a></div>
        </div>
    </div>
    <!-- End of body section HTML codes -->
