{% load static %}
<div class="amazingslider-wrapper" id="amazingslider-wrapper-1" style="display:block;position:relative;max-width:900px;margin:0px auto 56px;">
        <div class="amazingslider" id="amazingslider-1" style="display:block;position:relative;margin:0 auto;">
            <ul class="amazingslider-slides" style="display:none;">
                <li><img src="{% static 'images/header-bg.jpg' %}" alt="header-bg"  title="header-bg" />
                </li>
                <li><img src="{% static 'images/about-img-tn.jpg' %}" alt="about-img" title="about-img"/>
                </li>
                <li><img src="{% static 'images/b1-tn.jpg' %}" alt="b1"  title="b1" />
                </li>
                <li><img src="{% static 'images/car-tn.jpg' %}" alt="car" title="car"/>
                </li>
            </ul>
            <ul class="amazingslider-thumbnails" style="display:none;">
                <li><img src="{% static 'images/header-bg-tn.jpg' %}" alt="header-bg" title="header-bg" /></li>
                <li><img src="{% static 'images/about-img-tn.jpg' %}" alt="about-img" title="about-img" /></li>
                <li><img src="{% static 'images/b1-tn.jpg' %}" alt="b1" title="b1" /></li>
                <li><img src="{% static 'images/car-tn.jpg' %}" alt="car" title="car" /></li>
            </ul>
        </div>
    </div>
